@{
    ViewData["Title"] = "Inicio";
}
<section class="cardWrapper createPC">
    <div class="InicioCard">
        <div class="title">Computadoras</div>
        <div class="curve-three"></div>
        <div class="curve-four"></div>

        <div class="card-image">
            <img src="img/BuildYourPC.jpg" alt="Crea Tu PC" />
        </div>

        <div class="seeMore">
            <a href="#">Ver más</a>
        </div>
        <div class="curve-one"></div>
        <div class="curve-two"></div>
    </div>
</section>

<section class="cardWrapper components">
    <div class="InicioCard">
        <div class="title">Componentes</div>
        <div class="curve-three"></div>
        <div class="curve-four"></div>

        <div class="card-image">
            <img src="img/ComponentesPC.jpg" alt="Crea Tu PC" />
        </div>

        <div class="seeMore">
            <a href="#">Ver más</a>
        </div>
        <div class="curve-one"></div>
        <div class="curve-two"></div>
    </div>
</section>

<section class="cardWrapper perifericos">
    <div class="InicioCard">
        <div class="title">Periféricos</div>
        <div class="curve-three"></div>
        <div class="curve-four"></div>

        <div class="card-image">
            <img src="img/perifericos.jpg" alt="Crea Tu PC" />
        </div>

        <div class="seeMore">
            <a href="#">Ver más</a>
        </div>
        <div class="curve-one"></div>
        <div class="curve-two"></div>
    </div>
</section>

<section class="cardWrapper Novedades">
    <div class="InicioCard">
        <div class="title">Novedades</div>
        <div class="curve-three"></div>
        <div class="curve-four"></div>
        
        <section id="NewsCarousel" class="carousel slide novedad">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#NewsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#NewsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#NewsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/BuildYourPC.jpg" class="d-block w-100" alt="Nueva Colección">
                    <div class="carousel-caption">
                        <h5>PC Ryzen 5 + RTX 2080</h5>
                        <p>Precio: 325.000</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/ComponentesPC.jpg" class="d-block w-100" alt="Ofertas Especiales">
                    <div class="carousel-caption">
                        <h5>Ryzen 7 9800x</h5>
                        <p>Precio: 309.000</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/perifericos.jpg" class="d-block w-100" alt="Próximamente">
                    <div class="carousel-caption">
                        <h5>Audífonos Sony</h5>
                        <p>Precio: 25.000</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#NewsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#NewsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>
    </div>
</section>


<section class="InicioCard laptops"></section>

<section class="list ofertas"></section>

<section class="list portatiles"></section>

<section class="list monitores"></section>