@{
    ViewData["Title"] = "Inicio";
}
<section class="cardWrapper createPC">
    <div class="InicioCard">
        <div class="title">Computadoras</div>
        <div class="curve-three"></div>
        <div class="curve-four"></div>

        <div class="card-image">
            <img src="img/BuildYourPC.jpg" alt="Crea Tu PC"/>
        </div>

        <div class="seeMore">
            <a href="#">Ver más</a>
        </div>
        <div class="curve-one"></div>
        <div class="curve-two"></div>
    </div>
</section>

<section class="cardWrapper components">
    <div class="InicioCard">
        <div class="title">Componentes</div>
        <div class="curve-three"></div>
        <div class="curve-four"></div>

        <div class="card-image">
            <img src="img/ComponentesPC.jpg" alt="Crea Tu PC"/>
        </div>

        <div class="seeMore">
            <a href="#">Ver más</a>
        </div>
        <div class="curve-one"></div>
        <div class="curve-two"></div>
    </div>
</section>

<section class="cardWrapper perifericos">
    <div class="InicioCard">
        <div class="title">Periféricos</div>
        <div class="curve-three"></div>
        <div class="curve-four"></div>

        <div class="card-image">
            <img src="img/perifericos.jpg" alt="Crea Tu PC"/>
        </div>

        <div class="seeMore">
            <a href="#">Ver más</a>
        </div>
        <div class="curve-one"></div>
        <div class="curve-two"></div>
    </div>
</section>

<section class="cardWrapper Novedades">
    <div class="InicioCard">
        @await Component.InvokeAsync("CarruselNovedades")
    </div>
</section>

<section class="list ofertas">
    <div class="List-header">
        <div class="List-title">
            <h2>Ofertas</h2>
        </div>
        <div class="List-controls-Container">
            <button class="ListLastElement">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="ListNextElement">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="ListArticlesContainer">
        <article class="card-producto">
            <header>
                <img src="img/perifericos.jpg" alt="Imagen">
                <h3>Título del elemento</h3>
                <p>₡ 0.00</p>
            </header>
            <button class="btnVerMas">Ver más</button>
            <button class="btnAddToCart">Agregar al carrito</button>
        </article>

        <article class="card-producto">
            <header>
                <img src="img/BuildYourPC.jpg" alt="Imagen">
                <h3>Título del elemento</h3>
                <p>₡ 0.00</p>
            </header>
            <button class="btnVerMas">Ver más</button>
            <button class="btnAddToCart">Agregar al carrito</button>
        </article>

        <article class="card-producto">
            <header>
                <img src="img/BuildYourPC.jpg" alt="Imagen">
                <h3>Título del elemento</h3>
                <p>₡ 0.00</p>
            </header>
            <button class="btnVerMas">Ver más</button>
            <button class="btnAddToCart">Agregar al carrito</button>
        </article>

        <article class="card-producto">
            <header>
                <img src="img/BuildYourPC.jpg" alt="Imagen">
                <h3>Título del elemento</h3>
                <p>₡ 0.00</p>
            </header>
            <button class="btnVerMas">Ver más</button>
            <button class="btnAddToCart">Agregar al carrito</button>
        </article>

        <article class="card-producto">
            <header>
                <img src="img/BuildYourPC.jpg" alt="Imagen">
                <h3>Título del elemento</h3>
                <p>₡ 0.00</p>
            </header>
            <button class="btnVerMas">Ver más</button>
            <button class="btnAddToCart">Agregar al carrito</button>
        </article>

        <article class="card-producto">
            <header>
                <img src="img/BuildYourPC.jpg" alt="Imagen">
                <h3>Título del elemento</h3>
                <p>₡ 0.00</p>
            </header>
            <button class="btnVerMas">Ver más</button>
            <button class="btnAddToCart">Agregar al carrito</button>
        </article>

        <article class="card-producto">
            <header>
                <img src="img/BuildYourPC.jpg" alt="Imagen">
                <h3>Título del elemento</h3>
                <p>₡ 0.00</p>
            </header>
            <button class="btnVerMas">Ver más</button>
            <button class="btnAddToCart">Agregar al carrito</button>
        </article>

        <article class="card-producto">
            <header>
                <img src="img/BuildYourPC.jpg" alt="Imagen">
                <h3>Título del elemento</h3>
                <p>₡ 0.00</p>
            </header>
            <button class="btnVerMas">Ver más</button>
            <button class="btnAddToCart">Agregar al carrito</button>
        </article>

        <article class="card-producto">
            <header>
                <img src="img/BuildYourPC.jpg" alt="Imagen">
                <h3>Título del elemento</h3>
                <p>₡ 0.00</p>
            </header>
            <button class="btnVerMas">Ver más</button>
            <button class="btnAddToCart">Agregar al carrito</button>
        </article>

        <article class="card-producto-last-item">
            <h2 class="card-producto-last-item-title">
                Ver todas las ofertas
            </h2>
        </article>
    </div>
</section>

<section class="list TarjetasGraficas">
    @await Component.InvokeAsync("ProductCardList", new { title = "Tarjetas Gráficas", subcategoryId = 3, categoryId = 1, lenght = 9 })
</section>

<section class="list Gabinetes">
    @await Component.InvokeAsync("ProductCardList", new { title = "Gabinetes", subcategoryId = 1, categoryId = 1, lenght = 9 })
</section>

<section class="list Perifericos">
    @await Component.InvokeAsync("ProductCardList", new { title = "Periféricos", subcategoryId = 0, categoryId = 3, lenght = 9 })
</section>