@{
    ViewData["Title"] = "Inicio";
}
<section class="cardWrapper createPC">
    <div class="InicioCard">
        <div class="title">Computadoras</div>
        <div class="curve-three"></div>
        <div class="curve-four"></div>

        <div class="card-image">
            <img src="img/BuildYourPC.jpg" alt="Crea Tu PC" />
        </div>

        <div class="seeMore">
            <a href="#">Ver más</a>
        </div>
        <div class="curve-one"></div>
        <div class="curve-two"></div>
    </div>
</section>

<section class="cardWrapper components">
    <div class="InicioCard">
        <div class="title">Componentes</div>
        <div class="curve-three"></div>
        <div class="curve-four"></div>

        <div class="card-image">
            <img src="img/BuildYourPC.jpg" alt="Crea Tu PC" />
        </div>

        <div class="seeMore">
            <a href="#">Ver más</a>
        </div>
        <div class="curve-one"></div>
        <div class="curve-two"></div>
    </div>
</section>

<section class="cardWrapper news">

</section>
<section class="InicioCard laptops"></section>

<section class="list ofertas"></section>

<section class="list portatiles"></section>

<section class="list monitores"></section>