@model IEnumerable<Inventario_Productos_Tecnologicos.Models.Categorias>

@foreach (var categoria in Model)
{
    @if (categoria.Subcategorias.Any())
    {
        <li class="dropdown-container">
            <a asp-controller="Productos"
               asp-action="ListaProductos"
               asp-route-categoriaId="@categoria.Id"
               asp-route-subcategoriaId="0"
               class="dropbtn">
                @categoria.Nombre
            </a>
            <div class="dropdown-content">
                @foreach (var subcategoria in categoria.Subcategorias)
                {
                    <a asp-controller="Productos"
                       asp-action="ListaProductos"
                       asp-route-categoriaId="0"
                       asp-route-subcategoriaId="@subcategoria.Id">
                        @subcategoria.Nombre
                    </a>
                }
            </div>
        </li>
    }
}
