@using Inventario_Productos_Tecnologicos.Models.ViewModels
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Inventario_Productos_Tecnologicos</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/adminNavBar.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav>
        <div class="nav-principal">
            <a asp-action="Index" asp-controller="Home" class="Logo">
                <img src="~/img/LightLogo.png" alt="Tecno_Core Logo" class="imgLogo"/>
            </a>
            <ul>
                <li><a asp-action="Mantenimiento" asp-controller="Home">Inicio</a></li>
                <li class="dropdown-container">
                    <a class="dropbtn" asp-action="Index" asp-controller="Usuarios">Usuarios</a>
                    <div class="dropdown-content">
                        <a asp-action="Index" asp-controller="Roles">Roles</a>
                    </div>
                </li>
                <li class="dropdown-container">
                    <a class="dropbtn" asp-action="Index" asp-controller="Productos">Productos</a>
                    <div class="dropdown-content">
                        <a asp-action="Index" asp-controller="Categorias">Categorías</a>
                        <a asp-action="Index" asp-controller="Marcas">Marcas</a>
                        <a asp-action="Index" asp-controller="Kardex">Kardex</a>
                    </div>
                </li>
                <li class="dropdown-container">
                    <a class="dropbtn" asp-action="Index" asp-controller="Ventas">Ventas</a>
                    <div class="dropdown-content">
                        <a asp-action="Index" asp-controller="Cupones">Cupones</a>
                    </div>
                </li>
                <li><a class="dropbtn" asp-action="Index" asp-controller="Pedidos">Pedidos</a></li>
            </ul>
            <a class="nav-account tooltipContainer btnLogOut" asp-action="Logout" asp-controller="Usuarios">
                <img
                    src="~/img/ICO_Logout.svg"
                    alt="cuenta"
                    class="nav-icon"
                    id="user-account"/>
                <span class="TooltipText">Cerrar Sesión</span>
            </a>
        </div>
    </nav>
</header>
<div class="main_container">
    <div id="alertContainer"></div>
    @if (TempData["Alert"] != null)
    {
        var alert = System.Text.Json.JsonSerializer.Deserialize<Alert>(TempData["Alert"].ToString()!);
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                showAlert('@Html.Raw(alert.Message)', '@alert.Type');
            });
        </script>
    }
    <div class="container-fluid">
        @RenderBody()
    </div>
</div>

<footer class="footer">
    <div class="container">
        &copy; 2025 - Tecno Core - Num: 8888-8888 Dirección: Calle 123, Ciudad ...
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/admin.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>