@model dynamic

@{
    ViewBag.Title = "Crear Marca";
    Layout = "_LayoutAdmin";
}

<div>
    <h2>Crear Marca</h2>

    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="formgroup">
            <label for="TC_Nombre">Nombre:</label>
            <input type="text" name="TC_Nombre" id="TC_Nombre">
        </div>
        <div class="formgroup">
            <label for="TB_Activo">Estado:</label>
            <select name="TB_Activo" id="TB_Activo">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
        </div>
        <div class="btngroup">
            <button type="submit">Guardar</button>
            <a asp-action="Index">Regresar</a>
        </div>
    </form>
</div>
