:root {
    --darkGradient: linear-gradient(
            var(--darkBlue) 0,
            var(--dBlueEnphasis2) 100%
    );
    --lightgradient: linear-gradient(
            92.83deg,
            var(--TiffBlue) 0%,
            var(--Azure) 100%
    );
    --darkBlue: #101935;
    --darkBlueOpacity: #10193555;
    --dBlueEnphasis1: #1f273f;
    --dBlueEnphasis2: #2c3550;
    --dBlueEnphasis3: #3a425f;
    --TiffBlue: #9ad4d6;
    --Azure: #f2fdff;
    --Twistle: #dbcbd8;
    --ultraviolet: #564787;
    --indianRed: #d36060;
    --okGreen: #a1d7a5;
    --yellowWarning: #efc499;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: auto;
    overflow: visible;
}

.nav-principal {
    position: relative;
    background-color: var(--dBlueEnphasis1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--Azure);
    display: flex;
    justify-content: left;
    width: 100vw;
    padding: 0 10px 0 15px;
    height: 100%;
    top: 0;
    gap: .5rem;

    & > ul {
        display: flex;
        justify-content: center;
        padding: 0;
        position: relative;
        flex-grow: 1; /* Permite que la lista ocupe el espacio restante */
        flex-shrink: 0;
        margin-bottom: 0;

        & li {
            list-style: none;
            margin: 0 10px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 10px 10px;
            width: auto; /* Ajusta el ancho automáticamente */
            transition: all 0.3s ease;
            transition-delay: 10s;

            /* Propiedades para el efecto ::after */
            position: relative; /* Necesario para posicionar el ::after */
            height: 100%;
            z-index: 1; /* Asegura que el contenido del li esté por encima del ::after */
            line-height: 1;

            &:hover {
                background: var(--lightgradient); /* Cambia el color de fondo al hacer hover */
                color: var(--darkBlue); /* Cambia el color del texto al hacer hover */
                transition: all 0.7s ease;
                border-radius: 10px;

            }

            /* Pseudo-elemento ::after que aparecerá desde arriba */

            &::after {
                content: ""; /* Obligatorio para que el pseudo-elemento se muestre */
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%; /* Cubre todo el li */
                background-color: var(
                        --TiffBlue
                ); /* Color inicial del elemento que aparece */
                transform: translateY(
                        -20%
                ); /* Posición inicial: 100% de su altura por encima del li */
                opacity: 0;
                transition: all 0.4s ease;
                z-index: -1; /* Coloca el ::after detrás del contenido del li */
                border-radius: 0 0 10px 10px; /* Coincide con el border-radius del li */
            }

            &:hover::after {
                transform: translateY(-5%); /* Se mueve a su posición final (cubre el li) */
                background: var(--darkBlue); /* Cambia de color al hacer hover */
                opacity: 100%;
                transition: all 0.4s ease;
                border-radius: 10px;

            }

            & a {
                text-decoration: none;
                color: var(--Azure);
                font-weight: 600;
                font-size: clamp(1rem, 2vw, 1.2rem);
                text-align: center;
                padding: 10px 20px;
                transition: all 0.3s ease;
                height: 100%;
                width: 100%;
                display: grid;
                justify-content: center;
                align-items: center;

                &:hover {
                    transform: scale(1.05);
                    border-radius: 10px;
                }
            }
        }
    }
}

.dropdown-container {
    position: relative;
    display: inline-block;

    & .dropbtn {
        font-weight: 600;
        font-size: clamp(1rem, 2vw, 1.2rem);
        text-align: center;
        color: var(--Azure);
        background: transparent;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: height 0.3s ease, color 0.3s ease;
    }

    & .dropdown-content {
        position: absolute;
        display: none;
        top: 100%;
        background-color: var(--dBlueEnphasis1);
        z-index: 1000;
        border-radius: 10px;
        border: var(--TiffBlue) .3rem solid;
        align-items: center;
        width: fit-content;
        height: fit-content;

        & a {
            color: var(--Azure);
            font-size: clamp(.6rem, 2vw, .9rem);
            font-weight: bold;
            text-decoration: none;
            display: block;
            width: 8rem;
            height: fit-content;
            padding-left: .5rem;

            &:hover {
                background-color: var(--dBlueEnphasis3);
                border-radius: 10px;

            }
        }
    }

    &:hover .dropdown-content {
        display: block;
    }
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgLogo {
    position: relative;
    height: 90%;
    cursor: pointer;
    transition: all 0.5s ease;
    scale: 1.5;
    max-height: 100px;

    &:hover {
        transform: scale(1.1);
        transition: all 0.5s ease;
    }
}

.nav-icon {
    fill: var(--Azure);
    scale: 1.7;
    transition: all 0.5s ease;
    width: 2rem;
    height: 3rem;
    cursor: pointer;

    &:hover {
        fill: var(--Twistle);
        transform: scale(1.2);
        transition: all 0.5s ease;
    }
}


/* El contenedor del botón debe ser relative */
.tooltipContainer {
    position: relative; /* Permite posicionar el 'tooltip-text' de forma absoluta dentro de este botón/enlace */
    width: 5rem;
}


/* Estilos del texto del tooltip */
.TooltipText {
    visibility: hidden; /* **Oculto por defecto:** El elemento no es visible */
    opacity: 0; /* **Transparente por defecto:** Para una transición suave */
    width: auto; /* Ancho automático según el contenido */
    min-width: 80px; /* Ancho mínimo para legibilidad */
    max-width: 200px; /* Ancho máximo para evitar tooltips demasiado largos */
    background-color: var(--dBlueEnphasis3Trans); /* Fondo oscuro semitransparente */
    color: #fff; /* Texto blanco */
    text-align: center; /* Centra el texto */
    font-weight: bold;
    border-radius: 4px; /* Bordes ligeramente redondeados */
    padding: 6px 10px; /* Espaciado interno */
    font-size: 1rem;
    position: absolute; /* **Posicionamiento:** Lo saca del flujo normal */
    z-index: 2; /* Asegura que el tooltip esté por encima de otros elementos */

    transform: translateY(100%); /* Empieza fuera, abajo del botón */
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

/* Mostrar el tooltip al pasar el ratón */
.tooltipContainer:hover .TooltipText {
    visibility: visible; /* Hace que el elemento sea visible */
    opacity: 1; /* Lo vuelve completamente opaco */
}

.btnLogOut, .btnAccount, .btnCarrito {
    display: inline-flex; /* Permite que el contenido interno (imagen, texto) se alinee */
    align-items: center;
    justify-content: center;
    gap: 5px; /* Espacio entre la imagen y el texto */
    font-size: 0.9em;
    text-decoration: none;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    background: transparent;
    cursor: pointer;
    color: var(--Azure);
    transition: all 0.3s ease;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    text-align: left;
    scale: .7;

    &:hover {
        color: var(--indianRed);
        background: var(--darkBlueOpacity);
        border: 1px solid var(--indianRed);
        scale: .8;
        filter: drop-shadow(0px 1px 5px var(--indianRed));
        transition: all 0.3s ease;
    }

    &:active {
        scale: .8;
        transition: all 0.3s ease;
    }
}

@media (width <= 760px) {
    .nav-principal {
        display: grid;
        grid-template-columns: repeat(2, minmax(50px, 1fr));
        justify-content: center;
        align-items: center;
        height: fit-content;
    }

    .Logo {
        grid-row: 1;
        justify-self: center;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imgLogo {
        height: 100%;
        scale: 2;
        max-width: 70px;
    }

    .nav-account {
        grid-column: 2;
        grid-row: 1;
        justify-self: center;
        align-self: center;
    }

    .nav-principal > ul {
        grid-column: 1 / -1;
        grid-row: 2;
        gap: 0;
        justify-self: center;
        align-self: center;

        & > li {
            border-radius: 10px;
            width: 100%;

            &::after {
                border-radius: 10px;
            }
        }
    }
}

.footer {
    position: relative;
    width: 100%;
    background-color: var(--dBlueEnphasis1);
    color: var(--Azure);
    text-align: center;
    padding: 10px 0;
    font-size: clamp(.6rem, 2vw, .9rem);
    z-index: 999;
}

