:root {
    --darkGradient: linear-gradient(
            var(--darkBlue) 0,
            var(--dBlueEnphasis2) 100%
    );
    --lightgradient: linear-gradient(
            92.83deg,
            var(--TiffBlue) 0%,
            var(--Azure) 100%
    );
    --darkBlue: #101935;
    --darkBlueOpacity: #10193555;
    --dBlueEnphasis1: #1f273f;
    --dBlueEnphasis2: #2c3550;
    --dBlueEnphasis3: #3a425f;
    --TiffBlue: #9ad4d6;
    --Azure: #f2fdff;
    --Twistle: #dbcbd8;
    --ultraviolet: #564787;
    --indianRed: #d36060;
    --okGreen: #a1d7a5;
}

* {
    font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--darkGradient);
    background-attachment: fixed;
    color: var(--Azure);
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--Azure);
}

h1 {
    font-size: clamp(14px, 2vw, 4vw);
    text-align: center;
    font-weight: bold;
}

.pageTitle {
    font-size: clamp(14px, 2vw, 4vw);
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.pageIndexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 20px 3rem 0;


    & form {
        display: grid;
        grid-template-columns: 5fr 1fr;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
        gap: .5rem;

        & input[type="text"] {
            width: 100%;
            padding: 10px;
            border-radius: 1rem;
            background-color: var(--dBlueEnphasis3);
            color: var(--Azure);
            font-size: 1rem;
            background-image: var(--darkGradient);
            border: 5px solid var(--TiffBlue);
            transition: all 0.3s ease;

            &::placeholder {
                color: var(--Azure);
                opacity: 0.7;
            }

            &:hover {
                filter: drop-shadow(0px 1px 5px var(--TiffBlue));
            }

            &:focus {
                outline: none;
                border-color: var(--indianRed);
                filter: drop-shadow(0px 1px 5px var(--indianRed));
            }
        }

        & .btnSearch {
            background: var(--darkGradient);
            color: var(--Azure);
            border-radius: 0.8rem;
            padding: 0.5rem 1rem;
            border: 5px solid var(--TiffBlue);
            cursor: pointer;
            transition: all 0.3s ease;
            text-decoration: none;
            text-align: center;


            &:hover {
                background: var(--TiffBlue);
                color: var(--darkBlue);
                filter: drop-shadow(0px 1px 5px var(--TiffBlue));
            }

            &:active {
                background: var(--indianRed);
                color: var(--Azure);
                filter: drop-shadow(0px 1px 5px var(--indianRed));
                border-color: var(--indianRed);
                scale: 0.9;
            }
        }

        & .btnCreate {
            background: var(--darkGradient);
            color: var(--Azure);
            border-radius: 0.8rem;
            padding: 0.5rem 1rem;
            border: 5px solid var(--okGreen);
            cursor: pointer;
            transition: all 0.3s ease;
            text-decoration: none;
            text-align: center;

            &:hover {
                background: var(--okGreen);
                color: var(--darkBlue);
                filter: drop-shadow(0px 1px 5px var(--okGreen));
            }

            &:active {
                background: var(--indianRed);
                color: var(--Azure);
                filter: drop-shadow(0px 1px 5px var(--indianRed));
                border-color: var(--indianRed);
                scale: 0.9;
            }
        }

        & .radio-group {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 1rem;

            & label {
                color: var(--Azure);
                font-size: clamp(1rem, 1.5vw, 2rem);
                cursor: pointer;
            }

            & input[type="radio"] {
                margin-right: 0.5rem;
                accent-color: var(--TiffBlue);
            }

            .searchSelect{
                width: 100%;
                padding: 10px;
                border-radius: 1rem;
                background-color: var(--dBlueEnphasis3);
                color: var(--Azure);
                font-size: 1rem;
                background-image: var(--darkGradient);
                border: 5px solid var(--TiffBlue);
                transition: all 0.3s ease;

                &::placeholder {
                    color: var(--Azure);
                    opacity: 0.7;
                }

                &:hover {
                    filter: drop-shadow(0px 1px 5px var(--TiffBlue));
                }

                &:focus {
                    outline: none;
                    border-color: var(--indianRed);
                    filter: drop-shadow(0px 1px 5px var(--indianRed));
                }
            }
        }
    }

    & .tableContainer {
        width: 100%;
        overflow-x: auto;
        margin-top: .5rem;
        border-radius: 0.5rem;
        background: var(--darkGradient);
        background-repeat: no-repeat;
        background-attachment: fixed;
        grid-column: 1 / -1;
        max-height: 90vh;
        margin-bottom: 1rem;

        & .tbl-header {
            background: var(--lightgradient);
            color: var(--dBlueEnphasis1);
            font-weight: bold;
            text-align: center;
            border-radius: 0.8rem;
            width: 100%;
            table-layout: fixed;
            margin: 0 auto 1rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            min-width: fit-content;
            
            & .headerText {
                padding: 0.5rem;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
            }
        }

        & .tbl-content {
            height: fit-content;
            border-radius: 0.8rem;
            background: var(--darkGradient);
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(60px, 1fr);
            min-width: fit-content;
            overflow-y: auto;


            & .tableRow {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                padding: 0.5rem;
                border-bottom: 1px solid var(--TiffBlue);
                

                & .NoElements {
                    grid-column: 1 / -1; /* Make it span all columns */
                    text-align: center;
                    padding: 1rem;
                    font-size: 1.2rem;
                    color: var(--dBlueEnphasis1);
                }


                & span{
                    padding: 0.5rem;
                    font-size: 1rem;
                    color: var(--Azure);
                    transition: background-color 0.8s ease;
                    user-select: none;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    border-radius: 0.8rem;

                    &:hover {
                        background-color: var(--dBlueEnphasis2);
                    }
                    
                    &:first-child{
                        text-align: center;
                    }
                }
                & span.columnEstado{
                    text-align: center;
                }
                & img{
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
                & a{
                    color: var(--Azure);
                    text-decoration: none;
                    transition: color 0.3s ease;

                    &:hover {
                        color: var(--TiffBlue);
                    }
                }
                & .tableButtonsColumn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    flex-wrap: wrap;
                }
                & .EditBtn{
                    background: transparent;
                    cursor: pointer;
                    color: var(--Azure);
                    font-size: 1rem;
                    transition: color 0.3s ease;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: 1px solid transparent;
                    height: fit-content;

                    &:hover {
                        color: var(--TiffBlue);
                        background: var(--darkBlueOpacity);
                        border: 1px solid var(--TiffBlue);
                    }

                    &:active {
                        color: var(--indianRed);
                        background: var(--darkBlueOpacity);
                        border: 1px solid var(--indianRed);
                    }
                }

                & .btnSwicthActive{
                    background: transparent;
                    cursor: pointer;
                    color: var(--Azure);
                    font-size: 1rem;
                    transition: color 0.3s ease;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: 1px solid transparent;
                    display: block;
                    height: fit-content;
                }

                & .btnSwicthActive.greenHighlight:hover {
                    color: var(--okGreen);
                    background: var(--darkBlueOpacity);
                    border: 1px solid var(--okGreen);
                }

                & .btnSwicthActive.redHighlight:hover {
                    color: var(--indianRed);
                    background: var(--darkBlueOpacity);
                    border: 1px solid var(--indianRed);
                }
            }
        }
        & .tbl-header.TRoles, .tableRow.TRoles, 
        .tbl-header.TCat, .tableRow.TCat,
        .tbl-header.TMarca, .tableRow.TMarca{
            grid-template-columns: minmax(100px, 1fr) minmax(300px, 3fr) minmax(100px, 1fr) minmax(200px, 2fr);
        }
        
        & .tbl-header.TProd, .tableRow.TProd{
            grid-template-columns: minmax(100px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(200px, 2fr) 
            minmax(150px, 1fr) minmax(100px, 1fr) minmax(300px, 2fr);
        }
    }
}

#alertContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    max-width: 350px;
}

#alertContainer .alert {
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}