:root {
    --darkGradient: linear-gradient(
            var(--darkBlue) 0,
            var(--dBlueEnphasis2) 100%
    );
    --lightgradient: linear-gradient(
            92.83deg,
            var(--TiffBlue) 0%,
            var(--Azure) 100%
    );
    --darkBlue: #101935;
    --darkBlueOpacity: #10193555;
    --dBlueEnphasis1: #1f273f;
    --dBlueEnphasis2: #2c3550;
    --dBlueEnphasis3: #3a425f;
    --TiffBlue: #9ad4d6;
    --Azure: #f2fdff;
    --Twistle: #dbcbd8;
    --ultraviolet: #564787;
    --indianRed: #d36060;
    --okGreen: #a1d7a5;
    --yellowWarning: #efc499;
}

* {
    font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--darkBlue);
}

.main_container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(190px, 1fr));
    grid-template-rows: Repeat(2, minmax(300px, 1fr));

}

section {
    position: relative;
}

.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.625rem;
    padding: 1.5rem;
    min-height: 6rem;
    min-width: 7rem;
    max-height: 400px;
}

.InicioCard {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 1.30rem;
    border: 0.5rem solid var(--dBlueEnphasis3);
    overflow: clip;
    position: relative;
    color: var(--TiffBlue);

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }
    }
}

.title {
    position: absolute;
    width: 12rem;
    height: 3rem;
    top: 0;
    left: 0;
    color: var(--Azure);
    z-index: 1;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.2rem);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--darkBlue);
    border-bottom: 0.5rem solid var(--dBlueEnphasis3);
    border-right: 0.5rem solid var(--dBlueEnphasis3);
    border-bottom-right-radius: 1.25rem;
    transition: all .3s ease;
    user-select: none;

    &:hover {
        transform: scale(1.05);
        color: var(--TiffBlue);
        transition: all .3s ease;
        filter: blinds(10px, 10px);
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 1.125rem;
        height: 1.25rem;
    }

    &::after {
        background-color: transparent;
        top: 0;
        left: 11.5rem;
        border-top-left-radius: 0.8rem;
        box-shadow: -0.375rem -0.375rem var(--darkBlue);
    }

    &::before {
        background-color: transparent;
        left: 12rem;
        top: .5rem;
        border-top-left-radius: 0.8rem;
        box-shadow: -0.375rem -0.375rem var(--dBlueEnphasis3);
    }
}

.curve-three,
.curve-four {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
}

.curve-three {
    background: transparent;
    left: 0;
    top: 2.5rem;
    border-top-left-radius: 0.5rem;
    box-shadow: -0.375rem -0.375rem var(--darkBlue);
    z-index: 1;
}

.curve-four {
    background: transparent;
    left: .5rem;
    top: 3rem;
    border-top-left-radius: 0.5rem;
    box-shadow: -0.375rem -0.375rem var(--dBlueEnphasis3);
    z-index: 1;
}

.seeMore {
    width: 12rem;
    height: 3.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--darkBlue);
    border-top: 0.5rem solid var(--dBlueEnphasis3);
    border-left: 0.5rem solid var(--dBlueEnphasis3);
    border-top-left-radius: 1.25rem;

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 1.125rem;
        height: 1.25rem;
    }

    /*---Redondea el borde derecho inferior en su parte externa de la tarjeta---*/

    &::after {
        background-color: transparent;
        top: -1.125rem;
        right: 0;
        border-bottom-right-radius: 0.8rem;
        box-shadow: 0.375rem 0.375rem var(--darkBlue);
    }

    /*---Redondea el borde derecho inferior en su parte interna de la tarjeta---*/

    &::before {
        background-color: transparent;
        right: 0.5rem;
        top: -1.6rem;
        border-bottom-right-radius: 0.8rem;
        box-shadow: 0.375rem 0.375rem var(--dBlueEnphasis3);
    }

    & a {
        color: var(--Azure);
        background: var(--darkGradient);
        width: 100%;
        margin-left: 0.4rem;
        margin-top: 0.4rem;
        text-decoration: none;
        font-weight: bold;
        font-size: clamp(0.8rem, 1.5vw, 1rem);
        transition: all 0.3s ease;
        border-radius: 0.8rem;
        text-align: center;
        z-index: 1;
        border: 5px solid var(--TiffBlue);

        &:hover {
            transform: scale(1.05);
            transition: all 0.3s ease;
        }

        &:active {
            transform: scale(0.95);
            border: 5px solid var(--indianRed);
            transition: all 0.3s ease;
        }
    }
}

.curve-one,
.curve-two {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
}

/*---Redondea el borde derecho inferior a la izquierda del botón
 en su parte interna de la tarjeta---*/
.curve-one {
    background: transparent;
    right: 12rem;
    bottom: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0.375rem 0.375rem var(--dBlueEnphasis3);
}

/*---Redondea el borde derecho inferior a la izquierda del botón
 en su parte externa de la tarjeta---*/
.curve-two {
    background: transparent;
    right: 11.5rem;
    bottom: 0;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0.375rem 0.375rem var(--darkBlue);
}

.createPC {
    grid-column: span 2;
}

.components {
    grid-column: span 2;
    /*Just color changes for the componentes card*/

    .card-image {
        border: .5rem solid var(--indianRed);
    }

    .title, .seeMore {
        border-color: var(--indianRed);
    }

    .curve-one {
        box-shadow: 0.375rem 0.375rem var(--indianRed);
    }

    .curve-four {
        box-shadow: -0.375rem -0.375rem var(--indianRed);
    }

    .title {
        &:hover {
            color: var(--indianRed);
        }

        &::before {
            box-shadow: -0.375rem -0.375rem var(--indianRed);
        }
    }

    .seeMore {
        &::before {
            box-shadow: 0.375rem 0.375rem var(--indianRed);
        }

        & a {
            border: 5px solid var(--indianRed);

            &:active {
                border: 5px solid var(--TiffBlue);
            }
        }
    }
}

.perifericos {
    grid-column: span 2;
    /*Just color changes for the componentes card*/

    .card-image {
        border: .5rem solid var(--Twistle);
    }

    .title, .seeMore {
        border-color: var(--Twistle);
    }

    .curve-one {
        box-shadow: 0.375rem 0.375rem var(--Twistle);
    }

    .curve-four {
        box-shadow: -0.375rem -0.375rem var(--Twistle);
    }

    .title {
        &:hover {
            color: var(--Twistle);
        }

        &::before {
            box-shadow: -0.375rem -0.375rem var(--Twistle);
        }
    }

    .seeMore {
        &::before {
            box-shadow: 0.375rem 0.375rem var(--Twistle);
        }

        & a {
            border: 5px solid var(--Twistle);

            &:active {
                border: 5px solid var(--TiffBlue);
            }
        }
    }
}

.Novedades {
    grid-column: span 2;

    & .title {
        border-bottom: 0.5rem solid var(--TiffBlue);
        border-right: 0.5rem solid var(--TiffBlue);
        color: var(--Azure);
        left: 0;
        width: 10rem;

        &:hover {
            color: var(--TiffBlue);
        }

        &::after {
            background-color: transparent;
            top: 0;
            left: 9.5rem;
            border-top-left-radius: 0.8rem;
            box-shadow: -0.275rem -0.275rem var(--darkBlue);
        }

        &::before {
            background-color: transparent;
            left: 10rem;
            top: .5rem;
            border-top-left-radius: 0.8rem;
            box-shadow: -0.375rem -0.375rem var(--TiffBlue);
        }
    }

    & .curve-three {
        background: transparent;
        left: .5rem;
        top: 3rem;
        border-top-left-radius: 0.5rem;
        box-shadow: -0.375rem -0.375rem var(--TiffBlue);
    }

    & .curve-four {
        background: transparent;
        left: 0;
        top: 2.5rem;
        border-top-left-radius: 0.5rem;
        box-shadow: -0.375rem -0.375rem var(--darkBlue);
    }
}

#NewsCarousel {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    border: 0.5rem solid var(--TiffBlue);
    overflow: hidden; /* Para mantener las imágenes dentro del contenedor */
    background: var(--darkGradient);
}

#NewsCarousel .carousel-control-prev,
#NewsCarousel .carousel-control-next {
    width: 3rem;
    height: 3rem;
    background: var(--darkGradient);
    border: 3px solid var(--TiffBlue);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
    transition: all 0.3s ease;
}

#NewsCarousel .carousel-control-prev {
    left: 1rem;
}

#NewsCarousel .carousel-control-next {
    right: 1rem;
}

#NewsCarousel .carousel-control-prev:hover,
#NewsCarousel .carousel-control-next:hover {
    background: var(--TiffBlue);
    opacity: 1;
    scale: 1.1;
}

#NewsCarousel .carousel-control-prev-icon,
#NewsCarousel .carousel-control-next-icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* Estilo para los indicadores */
#NewsCarousel .carousel-indicators {
    margin-bottom: 0.5rem;
}

#NewsCarousel .carousel-indicators button {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 2px solid var(--TiffBlue);
    background: var(--darkBlue);
    opacity: 0.8;
    margin: 0 0.3rem;
    transition: all 0.3s ease;
}

#NewsCarousel .carousel-indicators button.active {
    background: var(--TiffBlue);
    scale: 1.2;
}

#NewsCarousel .carousel-indicators button:hover {
    opacity: 1;
    scale: 1.1;
}

#NewsCarousel .carousel-inner {
    width: 100%;
    height: 100%;
}

#NewsCarousel .carousel-item {
    width: 100%;
    height: 100%;

    & img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.8rem;
        filter: drop-shadow(0px 1px 5px var(--TiffBlue));
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.05);
            transition: all 0.3s ease;
        }
    }

}

#NewsCarousel .carousel-caption {
    background: rgba(16, 25, 53, 0.9);
    bottom: 0;
    padding: 1rem;
    width: fit-content;
    border-radius: 0.8rem 0.8rem 0 0;
    justify-self: center;
    z-index: 1;
}

.carousel-indicators {
    margin-bottom: 0;
}

#NewsCarousel .carousel-caption h5 {
    color: var(--TiffBlue);
    font-size: clamp(0.8rem, 1.8vw, 1.8rem);
    margin-bottom: 1rem;
    font-weight: bold;
}

#NewsCarousel .carousel-caption p {
    color: var(--Azure);
    font-size: 1rem;
    margin-bottom: 0.7rem;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 760px) {

    #NewsCarousel .carousel-caption {
        padding: 0.5rem;
    }

    #NewsCarousel .carousel-caption h5 {
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }

    #NewsCarousel .carousel-caption p {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
}

#loginModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: auto;
    background-color: var(--darkBlueOpacity);
    border: none;
    color: var(--Azure);

    & .modalContent {
        position: relative;
        background-color: var(--dBlueEnphasis2);
        padding: 1.5rem;
        border: none;
        border-radius: 0.8rem;
        filter: drop-shadow(0px 1px 5px var(--TiffBlue));
        margin: auto;
        width: 30vw;
        animation-name: animatetop;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        display: grid;
        grid-template-columns: repeat(1, minmax(80px, 1fr));
        gap: 1rem;
        font-weight: bold;

        & h2 {
            grid-column: 1 / -1;
            text-align: center;
        }

        & input {
            border: 5px solid var(--TiffBlue);
            padding: .5rem;
            border-radius: 0.8rem;
            transition: color .3s ease;

            &:focus {
                border: 5px solid var(--indianRed);
            }
        }

        & .form-group {
            grid-column: 1 / -1;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            & .btnClose, .btnLogin {
                width: 40%;
                height: 100%;
            }

            & .btnClose {
                border-radius: 0.8rem;
                border: 5px solid var(--indianRed);
                background: var(--darkGradient);
                color: inherit;
                font-weight: inherit;
                padding: 0.5rem;
                transition: all 0.2s;

                &:hover {
                    scale: 1.01;
                    background: var(--indianRed);
                    filter: drop-shadow(0px 1px 5px var(--indianRed));
                }
            }


            & .btnLogin {
                border-radius: 0.8rem;
                border: 5px solid var(--TiffBlue);
                background: var(--darkGradient);
                color: inherit;
                font-weight: inherit;
                padding: 0.5rem;
                transition: all 0.2s;

                &:hover {
                    scale: 1.01;
                    background: var(--TiffBlue);
                    color: var(--darkBlue);
                    filter: drop-shadow(0px 1px 5px var(--TiffBlue));
                }
            }
        }

        &.modal-fade-out {
            animation: modalFadeOut 0.3s forwards;
        }
    }
}

#CarritoModal {
    background-color: var(--darkBlueOpacity);
    color: var(--Azure);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    z-index: 1000;
    border: none;

    & .modalContent {
        position: relative;
        background-color: var(--dBlueEnphasis2);
        padding: 1.5rem;
        border: none;
        border-radius: 0.8rem;
        filter: drop-shadow(0px 1px 5px var(--TiffBlue));
        margin: auto;
        width: 50vw;
        animation-name: animatetop;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        display: grid;
        grid-template-rows: auto auto 1fr auto auto;
        gap: 1rem;
        font-weight: bold;

        & h2 {
            grid-column: 1 / -1;
            text-align: center;
            margin: 0;
        }

        & .Cart-header {
            grid-column: 1 / -1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            padding: 0.5rem;
            background-color: var(--darkGradient);
            border-radius: 0.8rem;
            color: var(--Azure);

            & .btnClearCart {
                min-width: 30%;
                height: 100%;
                border-radius: 0.8rem;
                padding: 0.5rem;
                transition: all 0.2s;
                background: var(--darkGradient);
                color: inherit;
                font-weight: inherit;
                border: 5px solid var(--indianRed);

                &:hover {
                    scale: 1.01;
                    background: var(--indianRed);
                    filter: drop-shadow(0px 1px 5px var(--indianRed));
                }
            }
        }

        & .form-group {
            grid-column: 1 / -1;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            & .btnClose, .btnEndCompra {
                min-width: 30%;
                height: 100%;
                border-radius: 0.8rem;
                padding: 0.5rem;
                transition: all 0.2s;
                background: var(--darkGradient);
                color: inherit;
                font-weight: inherit;
            }

            & .btnClose {
                border: 5px solid var(--indianRed);

                &:hover {
                    scale: 1.01;
                    background: var(--indianRed);
                    filter: drop-shadow(0px 1px 5px var(--indianRed));
                }
            }

            & .btnEndCompra {
                border: 5px solid var(--TiffBlue);
                text-decoration: none;
                text-align: center;

                &:hover {
                    scale: 1.01;
                    background: var(--TiffBlue);
                    color: var(--darkBlue);
                    filter: drop-shadow(0px 1px 5px var(--TiffBlue));
                }
            }
        }

        &.modal-fade-out {
            animation: modalFadeOut 0.3s forwards;
        }
    }
}

& #cart-item-container {
    padding: 1rem;
    border-radius: 0.8rem;
    height: 12rem;
    overflow-y: auto;
    text-align: center;
    background: var(--dBlueEnphasis1);
}

@keyframes modalFadeOut {
    from {
        top: 6.3rem;
        opacity: 1;
        transform: scale(1);
    }
    to {
        top: -300px;
        opacity: 0;
        transform: scale(.95);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
        transform: scale(.95);
    }
    to {
        top: 6.3rem;
        opacity: 1;
        transform: scale(1);
    }
}

@media (width <= 760px) {
    main {
        grid-template-columns: minmax(190px, 1fr);
        grid-auto-rows: minmax(300px, 1fr);
        margin-top: 1rem;
    }

    h1 {
        font-size: clamp(3rem, 4vw, 4rem);
    }

    #loginModal .modalContent {
        width: 50vw;
        margin: auto;
    }
}


.card-producto {
    position: relative;
    width: 100%;
    height: fit-content;
    border: 1px solid var(--dBlueEnphasis2);
    border-radius: 0.8rem;
    background-color: var(--dBlueEnphasis1);
    color: var(--Azure);
    padding: .5rem;
    display: grid;
    grid-template-rows: 4fr .5fr;
    gap: .5rem;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-align: start; /* Hace que los elementos se ajusten al scroll */
    transition: transform 0.3s ease;
    transform-origin: center;
    z-index: 1;
    margin-bottom: 5rem;
    max-width: 250px;
    justify-self: left;

    & header {
        background: var(--dBlueEnphasis2);
        border-radius: 0.8rem;
        display: grid;
        grid-template-rows: minmax(200px, 200px) minmax(20px, 2fr) minmax(20px, 1fr);
        gap: .5rem;
        padding: .5rem;

        & img {
            position: relative;
            width: 12rem;
            height: 12rem;
            object-fit: cover;
            border-radius: 0.8rem;
            filter: drop-shadow(0px 1px 5px var(--TiffBlue));
            transition: all 0.3s ease;
            padding: 0.5rem;
            margin: 0 auto;
        }
    }

    & h3 {
        font-size: clamp(.8rem, 2vw, 1.2rem);
        font-weight: bold;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    & p {
        font-size: clamp(0.9rem, 1.5vw, 1.2rem);
        margin-bottom: 0.5rem;
        text-align: end;
        font-weight: bold;
        color: var(--indianRed);
    }

    & .btnVerMas, .btnAddToCart {
        background: var(--darkGradient);
        color: var(--Azure);
        border-radius: 0.8rem;
        padding: 0.5rem 1rem;
        border: 5px solid var(--TiffBlue);
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        text-align: center;


        &:hover {
            background: var(--TiffBlue);
            color: var(--darkBlue);
            filter: drop-shadow(0px 1px 5px var(--TiffBlue));
        }

        &:active {
            background: var(--indianRed);
            color: var(--Azure);
            filter: drop-shadow(0px 1px 5px var(--indianRed));
            border-color: var(--indianRed);
        }
    }

    & .btnAddToCart {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        border: 5px solid var(--indianRed);

        &:hover {
            background: var(--indianRed);
            color: var(--darkBlue);
            filter: drop-shadow(0px 1px 5px var(--indianRed));
        }

        &:active {
            background: var(--TiffBlue);
            color: var(--darkBlue);
            filter: drop-shadow(0px 1px 5px var(--TiffBlue));
            border-color: var(--TiffBlue);
        }

        & img {
            width: 25px;
            height: 25px;
            object-fit: cover;
        }
    }

    &:hover {
        z-index: 2; /* Asegura que la card aparezca por encima de las demás */
        padding-bottom: 4rem;
        margin-bottom: 0;

        transition: all 0.3s ease;

        & .btnAddToCart {
            display: block;
            animation: fadeIn 0.3s ease;
            /* Ajustar posición del botón */
            top: calc(100% - 3.5rem);
            width: calc(100% - 1rem); /* Ajustar al padding de la card */
            margin: 0 0.5rem; /* Centrar el botón */
        }
    }
}

.pageContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    color: var(--Azure);

    & .sidebar {
        position: sticky;
        top: 0;
        height: 100vh;
        background: var(--dBlueEnphasis1);
        padding: 1rem;
        border-right: 1px solid var(--dBlueEnphasis2);
        overflow-y: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;

        & h3 {
            font-size: clamp(1.2rem, 2vw, 1.5rem);
            font-weight: bold;
            margin-bottom: 0.5rem;
            color: var(--Azure);
            align-self: center;
        }

        & .btn-update {
            background: var(--darkGradient);
            color: var(--Azure);
            border-radius: 0.8rem;
            padding: 0.5rem 1rem;
            border: 5px solid var(--TiffBlue);
            cursor: pointer;
            transition: all 0.3s ease;
            text-decoration: none;
            text-align: center;


            &:hover {
                background: var(--TiffBlue);
                color: var(--darkBlue);
                filter: drop-shadow(0px 1px 5px var(--TiffBlue));
            }

            &:active {
                background: var(--indianRed);
                color: var(--Azure);
                filter: drop-shadow(0px 1px 5px var(--indianRed));
                border-color: var(--indianRed);
            }
        }

        .filterCard {
            padding: 1rem;
            background: var(--dBlueEnphasis2);
            border-radius: 0.8rem;
            color: var(--Azure);
            border: 1px solid var(--dBlueEnphasis3);
            display: grid;
            grid-template-rows: .5fr auto;
            margin-bottom: .5rem;
            margin-top: .5rem;
            grid-column: 1 / -1;

            & h4 {
                font-size: clamp(1rem, 1.5vw, 1.2rem);
                font-weight: bold;
                margin-bottom: 0.5rem;
                text-align: center;
            }

            & ul {
                list-style: none;
                text-align: left;
                padding: 0;

                & li {
                    margin-bottom: 0.5rem;
                    cursor: pointer;
                    transition: color 0.3s ease;
                    display: grid;
                    grid-template-columns: 1fr auto;

                    &:hover {
                        color: var(--TiffBlue);
                    }
                }
            }
        }
    }

    & section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
        gap: 1rem;
        padding: 1rem;

        & .card-producto {
            justify-self: center;
        }

        & h2 {
            grid-column: 1 / -1;
            font-size: clamp(1.5rem, 2vw, 2rem);
            font-weight: bold;
            margin: 1rem;
            color: var(--Azure);
            text-align: center;
            background: var(--indianRed);
            width: fit-content;
            padding: 1rem;
            border-radius: 0.8rem;
            justify-self: center;
        }
    }
}

.list {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: Repeat(2, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    padding: 1rem;

    & .List-header {
        grid-column: 1/-1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 0.5rem;
        background-color: var(--darkGradient);
        border-radius: 0.8rem;
        color: var(--Azure);

        & .List-title {
            color: var(--Azure);
            text-align: center;
            background-color: var(--indianRed);
            border-radius: 0.8rem;
            margin: 0.5rem;
            padding: 0.5rem 1rem;
            display: block;
            width: fit-content;

            & h2 {
                margin: 0;
                font-size: clamp(1.5rem, 2vw, 2rem);
                font-weight: bold;
            }
        }
    }

    & .List-controls-Container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        align-self: end;

        & .ListNextElement, .ListLastElement {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: 5px solid var(--TiffBlue);
            background: var(--darkGradient);
            color: var(--Azure);
            font-weight: bold;
            transition: all 0.3s ease;
            align-self: start;
            text-align: center;
            padding: .2rem 0 .2rem 0;

            &:hover {
                scale: 1.05;
                background: var(--TiffBlue);
                color: var(--darkBlue);
                filter: drop-shadow(0px 1px 5px var(--TiffBlue));
            }

            &:active {
                scale: 0.95;
                border-color: var(--indianRed);
                background: var(--indianRed);
                color: var(--Azure);
            }
        }
    }

    & .ListArticlesContainer {
        grid-column: 1/-1;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 250px;
        overflow-x: auto;
        gap: 1rem;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scroll-padding: 1rem;

        &::-webkit-scrollbar {
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background: var(--dBlueEnphasis1);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--TiffBlue);
            border-radius: 4px;
        }

        & .card-producto {
            position: relative;
            width: 100%;
            height: fit-content;
            border: 1px solid var(--dBlueEnphasis2);
            border-radius: 0.8rem;
            background-color: var(--dBlueEnphasis1);
            color: var(--Azure);
            padding: .5rem;
            display: grid;
            grid-template-rows: 4fr .5fr;
            gap: .5rem;
            overflow-x: auto;
            overflow-y: visible;
            scroll-snap-align: start; /* Hace que los elementos se ajusten al scroll */
            transition: transform 0.3s ease;
            transform-origin: center;
            z-index: 1;
            margin-bottom: 3.5rem;
            max-width: 250px;
            justify-self: left;

            & header {
                background: var(--dBlueEnphasis2);
                border-radius: 0.8rem;
                display: grid;
                grid-template-rows: minmax(200px, 200px) minmax(20px, 2fr) minmax(20px, 1fr);
                gap: .5rem;
                padding: .5rem;

                & img {
                    position: relative;
                    width: 12rem;
                    height: 12rem;
                    object-fit: cover;
                    border-radius: 0.8rem;
                    filter: drop-shadow(0px 1px 5px var(--TiffBlue));
                    transition: all 0.3s ease;
                    padding: 0.5rem;
                    margin: 0 auto;
                }
            }

            & h3 {
                font-size: clamp(.8rem, 2vw, 1.2rem);
                font-weight: bold;
                margin-bottom: 0.5rem;
                text-align: center;
            }

            & p {
                font-size: clamp(0.9rem, 1.5vw, 1.2rem);
                margin-bottom: 0.5rem;
                text-align: end;
                font-weight: bold;
                color: var(--indianRed);
            }

            & .btnVerMas, .btnAddToCart {
                background: var(--darkGradient);
                color: var(--Azure);
                border-radius: 0.8rem;
                padding: 0.5rem 1rem;
                border: 5px solid var(--TiffBlue);
                cursor: pointer;
                transition: all 0.3s ease;
                text-decoration: none;
                text-align: center;


                &:hover {
                    background: var(--TiffBlue);
                    color: var(--darkBlue);
                    filter: drop-shadow(0px 1px 5px var(--TiffBlue));
                }

                &:active {
                    background: var(--indianRed);
                    color: var(--Azure);
                    filter: drop-shadow(0px 1px 5px var(--indianRed));
                    border-color: var(--indianRed);
                }
            }

            & .btnAddToCart {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                border: 5px solid var(--indianRed);

                &:hover {
                    background: var(--indianRed);
                    color: var(--darkBlue);
                    filter: drop-shadow(0px 1px 5px var(--indianRed));
                }

                &:active {
                    background: var(--TiffBlue);
                    color: var(--darkBlue);
                    filter: drop-shadow(0px 1px 5px var(--TiffBlue));
                    border-color: var(--TiffBlue);
                }
            }

            &:hover {
                z-index: 2; /* Asegura que la card aparezca por encima de las demás */
                padding-bottom: 4rem;
                margin-bottom: 0;

                transition: all 0.3s ease;

                & .btnAddToCart {
                    display: block;
                    animation: fadeIn 0.3s ease;
                    /* Ajustar posición del botón */
                    top: calc(100% - 3.5rem);
                    width: calc(100% - 1rem); /* Ajustar al padding de la card */
                    margin: 0 0.5rem; /* Centrar el botón */
                }
            }
        }

        & .card-producto-last-item {
            position: relative;
            width: 100%;
            height: 82.8%;
            border: 1px solid var(--dBlueEnphasis2);
            border-radius: 0.8rem;
            background: var(--darkGradient);
            color: var(--Azure);
            padding: 1rem;
            gap: .5rem;
            transition: transform 0.3s ease;
            transform-origin: center;
            z-index: 1;


            & .card-producto-last-item-title {
                text-align: center;
                font-size: clamp(1.5rem, 1.5vw, 3rem);
                font-weight: bold;
                margin: auto;
                height: 100%;
                border-radius: .8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 0.1s ease;

                &:active {
                    transform: scale(0.95);
                    color: var(--Azure);
                    filter: drop-shadow(0px 1px 5px var(--indianRed));
                    transition: all 0.1s ease;
                }
            }

            &:hover {
                z-index: 2; /* Asegura que la card aparezca por encima de las demás */
                background-color: var(--dBlueEnphasis2);
                transition: all 0.3s ease;

                & .card-producto-last-item-title {
                    color: var(--indianRed);
                    background-color: var(--dBlueEnphasis2);
                drop-shadow(0 px 1 px 5 px var(--indianRed);
                    filter: drop-shadow(0px 1px 5px var(--indianRed));
                }
            }
        }
    }
}
