@{
    var actionName = (string)ViewBag.ActionName;
    var controllerName = (string)ViewBag.ControllerName;
}

<dialog class="deleteDialog">
    <h1></h1>
    <input type="hidden" name="active" id="active">
    <form asp-action="@actionName" asp-controller="@controllerName" method="post" class="deleteform">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" id="idDelete">
        <button type="submit" class="btn" id="btnSubmit"></button>
    </form>
    <button type="button" class="btn btn-secondary btnCancel">Cancelar</button>
</dialog>
