@model TECO_M_Subcategoria

@{
    ViewBag.Title = "Crear Subcategoría";
    Layout = "_LayoutAdmin";
}

<div>
    <h2>Crear Subcategoría</h2>

    <form asp-action="CreateSubcategoria" method="post">
        @Html.AntiForgeryToken()
        <div class="formgroup">
            <label for="TC_Nombre">Nombre:</label>
            <input type="text" name="TC_Nombre" id="TC_Nombre">
        </div>
        <input type="hidden" name="TN_CategoriaId" id="TN_CategoriaId" value="@ViewBag.CategoriaId">
        <div class="formgroup">
            <label for="TB_Activo">Estado:</label>
            <select name="TB_Activo" id="TB_Activo">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
        </div>
        <div class="btngroup">
            <button type="submit">Guardar</button>
            <a asp-action="Edit" asp-route-id="@ViewBag.CategoriaId">Regresar</a>
        </div>
    </form>
</div>
