@model Categorias

@{
    ViewBag.Title = "Crear Subcategoría";
    Layout = "_LayoutAdmin";
}

<div>
    <h2>Crear Subcategoría</h2>

    <form asp-action="CreateSubcategoria" method="post">
        @Html.AntiForgeryToken()
        <div class="formgroup">
            <label for="Nombre">Nombre:</label>
            <input type="text" name="Nombre" id="Nombre">
        </div>
        <input type="hidden" name="CategoriaID" id="CategoriaID" value="@ViewBag.CategoriaId">
        <div class="formgroup">
            <label for="Activo">Estado:</label>
            <select name="Activo" id="Activo">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
        </div>
        <div class="btngroup">
            <button type="submit">Guardar</button>
            <a asp-action="Index">Regresar</a>
        </div>
    </form>
</div>
